<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js Tutorial</title>
        <link href="styles.css" rel="stylesheet">
        <!-- development version, includes helpful console warnings -->
        <script src="https://unpkg.com/vue"></script>


    </head>
    <body>
        <div id="vue-app">
            <h1>Looping through lists</h1>
            <ul>
                <li v-for="character in characters">{{ character }}</li>
            </ul>
            <ul>
                <li v-for="(ninja, index) in ninjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
            </ul>
            <template v-for="(ninja, index) in ninjas">
                <h3>{{ index }} . {{ ninja.name }}</h3>
                <p>{{ ninja.age }}</p>
            </template>
            <template v-for="ninja in ninjas">
                <div v-for="(val, key) in ninja">
                    <p>{{key}} - {{value}}</p>
                </div>
            </template>
        </div>
        <script src="app.js"></script>
    </body>
</html>

  <!-- <h1>Events</h1>
            <button v-on:click.once="add(1)">Add a Year</button>
            <button v-on:click="subtract(1)">Subtract a Year</button>
            <button v-on:dblclick="add(10)">Add 10 Years</button>
            <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
            <p>My age is {{ age }}</p>
            <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
            <a v-on:click.prevent="click" href="http://www.calvinbrownlee.com">Portfolio</a> -->
            <!-- <a v-bind:href="website">Brown's Portfolio</a>
            <input type="text" v-bind:value="name"/>
            <p v-html="websiteTag"></p>
            <h1>{{ greet('morning') }}</h1>
            <p>Name: {{ name }}</p>
            <p>Job: {{ job }}</p> -->
            <!--            <h1>Keyboard Events</h1>
            <label>Name:</label>
            <input type="text" v-model="name"/>
            <span>{{ name }}</span>
            <label>Age:</label>
            <input type="text" v-model="age"/>
            <span>{{ age }}</span>
           -->
           <!--             <h1>Computed Properties</h1>
            <button v-on:click="a++">Add to A</button>
            <button v-on:click="b++">Add to B</button>
            <p>A - {{ a }}</p>
            <p>B - {{ b }}</p>
            <p>Age + A = {{ addToA }}</p>
            <p>Age + B = {{ addToB }}</p> -->


            <!--             <h1>Dynamic CSS</h1>
            <h2>Example 1</h2>
            <div v-on:click="available = !available" v-bind:class="{available: available}">
                <span>Ryu</span>
            </div> 
            <h2>Example 2</h2>
            <button v-on:click="nearby = !nearby">Toggle nearby</button>
            <button v-on:click="available = !available">Toggle available</button>
            <div v-bind:class="compClasses">
                <span>Ryu</span>
            </div> -->
<!-- 
                        <h1>Conditionals</h1>
            <button v-on:click="error = !error">Toggle Error</button>
            <button v-on:click="success = !success">Toggle Success</button>
            <p v-if="error">There has been an error.</p>
            <p v-else-if="success">Success.</p>
            <p v-show="error">There has been an error.</p>
            <p v-show="success">Success.</p>
        </div>            -->